<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.unipi.covidapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".HomeReceiver">
            <intent-filter>
                <action android:name="UserInHome" />
                <!--TODO: Cancellare la detection -->
                <action android:name="hand_activity_detection" />
            </intent-filter>
        </receiver>

        <service android:name=".ClassificationService">
        <intent-filter>
            <action android:name="Classify" />
        </intent-filter>
        </service>

        <service android:name=".HandActivityService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data android:scheme="wear" android:host="*"
                    android:path="/sensorData" />
                <action android:name="Start_HandActivityService"/>
                <action android:name="Classification_Result"/>
            </intent-filter>
        </service>
    </application>



    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>